<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.accso.accelerated.accounting"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="8" />
    
    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@style/AccsoTheme">
    
    	<!-- libraries -->
    	<uses-library android:name="com.google.android.maps"/>
        
        <!-- Activities -->
         <activity android:name="de.accso.accelerated.accounting.activities.AcceleratedAccounting"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.CaptureLocation"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
         
        <activity android:name="de.accso.accelerated.accounting.activities.ShowLocation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/de.accso.accelerated.accounting.location" />
            </intent-filter>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowLocations"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/de.accso.accelerated.accounting.location" />
            </intent-filter>
        </activity>
        
         <activity android:name="de.accso.accelerated.accounting.activities.ShowRecordedHours"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/de.accso.accelerated.accounting.recorded.hour" />
            </intent-filter>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowCustomers"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowCustomer"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.EditCustomer"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowProject"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.EditProject"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowRecordedHoursDay"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.AssignAccount" android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>        
        
        <activity android:name="de.accso.accelerated.accounting.activities.ShowAssignedHours" android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.AssignedHoursTab" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
         <activity android:name="de.accso.accelerated.accounting.activities.ShowRecordedAndAccountedHours"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.SBShowRecordedHoursDay"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
        <activity android:name="de.accso.accelerated.accounting.activities.SBShowAccountedHoursDay"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
         <activity android:name="de.accso.accelerated.accounting.activities.DoAccount"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>
        
         <activity android:name=".activities.SendTimesheet"
                  android:label="@string/app_name">
            <intent-filter/>
        </activity>

        <!-- Sevices -->
        <service android:name="de.accso.accelerated.accounting.services.CaptureLocationService" />
        <service android:name=".services.LocationMonitorService" />
        
        <!-- Providers -->
        <provider
			android:name="de.accso.accelerated.accounting.storage.AcceleratedAccountingProvider"
			android:authorities="de.accso.accelerated.accounting.storage.acceleratedaccountingprovider" />

    </application>
  

</manifest>